.bgImg{
    background-image: url("https://img.freepik.com/premium-vector/origami-style-speech-bubble-banner-blank-your-text-sticker-design-template_399089-736.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}